{% set switch = interfaces[ansible_hostname] %}
{% set loopback_ip = switch.loopback -%}

auto lo
iface lo inet loopback
{% if loopback_ip is defined -%}
  address {{ loopback_ip }}/32
{% endif -%}

auto eth0
iface eth0 inet dhcp

{% if switch.int_numbered is defined -%}
{% for interface in switch.int_numbered -%}

auto {{ interface }}
iface {{ interface }}

{% endfor -%}
{% endif -%}

{% if switch.bridges is defined -%}
{% for interface in switch.bridges.vlan_aware.members -%}

auto {{ interface }}
iface {{ interface }}

{% endfor -%}
{% endif -%}

{% if switch.bonds is defined -%}
{% for item in switch.bonds -%}
auto {{item}}
iface {{item}}
   bond-slaves {{ switch.bonds[item].members|join(' ') }}
   bond-mode 802.3ad
   bond-miimon 100
   bond-use-carrier 1
   bond-lacp-rate 1
   bond-min-links 1
   bond-xmit-hash-policy layer3+4
{% endfor %}
{% endif -%}

{% if switch.bridges is defined -%}

auto {{ switch.bridges.vlan_aware.name }}
iface {{ switch.bridges.vlan_aware.name }}
  bridge-vlan-aware yes
  bridge_ports {{ switch.bridges.vlan_aware.members|join(' ') }}
  bridge-vids {{switch.bridges.vlan_aware.vids}}
  bridge-pvid {{switch.bridges.vlan_aware.pvid}}
  bridge_stp on
  

 
{% if switch.bridges.vlan_aware.svi is defined -%}
{% for name in switch.bridges.vlan_aware.svi -%}

auto {{ name }}
iface {{ name }}
  address {{ switch.bridges.vlan_aware.svi[name].ip_and_mask }}

{% endfor -%}
{% endif -%}
{% endif -%}


 




